body {
	background-color: rgb(230,230,230);
	color:rgb(50,50,50);
	font-family:'Roboto';
}

h1 {
	color: #6c567b;
	font-family:'Roboto';
	font-weight: 100;
	letter-spacing: 10px;
	font-size: 40px;
	text-transform: uppercase;
}

h2 {
	color: #6c567b;
}

p{
	color: black;
	font-family:'Roboto';
	font-size: 20px;

}

.container {
	margin: 40px auto ;
	width: 700px;
}

.card-white {
	background-color: #f8b195;
	padding: 60px;
	box-shadow: 0px 10px 30px;
	border-radius: 4px;
	margin: 50px;
	text-align: center; 
}

.btn-blue {
	background-color: #c06c84;
	color: white;
	padding: 10px;
	font-family:'Roboto';
	margin:300px auto;

}

.btn-blue:hover {
	background-color: #f67280;
	color: white;
	text-decoration: none;
}


.img-circle {
	border-radius: 50%;
}

